# Created by 
https://www.toptal.com/developers/gitignore/api/xcode,swiftpm,fastlane
# Edit at 
https://www.toptal.com/developers/gitignore?templates=xcode,swiftpm,fastlane

.DS_Store

### fastlane ###
# fastlane - A streamlined workflow tool for Cocoa deployment
#
# It is recommended to not store the screenshots in the git repo. Instead, 
use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# 
https://docs.fastlane.tools/best-practices/source-control/#source-control

# fastlane specific
**/fastlane/report.xml

# deliver temporary files
**/fastlane/Preview.html

# snapshot generated screenshots
**/fastlane/screenshots

# scan temporary files
**/fastlane/test_output

# Fastlane.swift runner binary
**/fastlane/FastlaneRunner

### Xcode ###
## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

# End of 
https://www.toptal.com/developers/gitignore/api/xcode,swiftpm,fastlane

